$header-family: Montserrat;
$header-weight: 700;
$h1-size:40px;
$h2-size:30px;
$h3-size:25px;
$h4-size:14px;
$body-family: 'Open Sans';
$paragraph-size:14px;
$paragraph-wieght:600;
$primary-color:#444;
$secondary-color: #0f4d90;
$content-bg-color:#f0f0f0;
$light-bg:#f0f0f0;
$dark-bg:#d8d8d8;
$light:#fff;